body{
  margin:0px;
  padding:0px;	
}
div{
	align:center;
	text-align:left;
	font-size:12px;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.Component-border{
	border:1px solid #00F
}
.Component-bg{
	background:#F3F3B8 none repeat scroll 0 0;
}

.From{
	margin:1px;
}

.singleForm{
	margin:1px;
	padding:5px;
}
.Form-title{
	background:#40a7dc none repeat scroll 0 0;
	font-size:13px;
	font-weight:  bold ;
	font-family:"Arial Black";
	padding:1px;
	padding-left:5px;
}
.Form-body{
	padding:5px;
	font-size:12px;
}
.Form-buttom{
	padding:5px;
	padding-top:0px;
	font-size:12px;
}

.Button{
	font-size:13px;
	line-height:13px;
	font-family:"Arial Black";
	font-weight:normal;
}

.align-left{
	text-align:left;
	/*float:left;*/
}

.align-center{
	text-align:center;
	maring:0 auto;
	/*float:right;*/
}
.align-right{
	text-align:right;
}
.tab_title{
	overflow:hidden;
}
.tab_ul_title{
	list-style-type:none;
	margin:0px;
	padding:0px;
	height:20px;
	line-height:21px;
		}
.tab_ul_panel{
	padding-left:0px;
	margin:0px;
	list-style-type:none;
}
.tab_ul_panel div{
	border:0px;
	border-top:1px solid #40a7dc;
	margin:0px
}
.tab_not_selected_title{
	display:inline;
	border:1px solid #00f;
	border-bottom:0px;
	padding:2px;
	padding-bottom:0px;
	margin:1px;
	}
.tab_selected_title{
	display:inline;
	border:1px solid #00F;
	border-bottom:0px;
	background:#F3F3B8 none repeat scroll 0 0;
	padding:2px;
	padding-bottom:0px;
	margin:1px;
	}	
.tab_selected_panel{
	display:inline;
	margin:0px;
	background:#F3F3B8 none repeat scroll 0 0;
}
.tab_selected_panel div{
	padding:5px;
}


.loading-mask{
	width:100%;
	height:32px;
	font-family:"Arial Black";
	font-size:14px;
	line-height:32px;
	border:2px solid #00F;
	background:url(images/Mask/loading.gif) no-repeat 2px;
	padding-left:38px;
}
.loading-mask-bg{
	background:#F3F3B8 none repeat scroll 0 0;
	cursor:wait;
	border:1px solid #666;
	padding:2px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-16px;
	margin-left:-100px;
	z-index:20002;
}
.loading-mask-out{
	position:absolute;
	top:0px;
	*left:0px;
	z-index:20001;
	background:url(images/Mask/glass-bg.png);
	filter: alpha(opacity=50);
}
